{% extends "base.html" %}

{% load static %}

{% block container %}
    <div id="main" class="container-fluid">
  
        <h3 class="page-header">Editar Livro</h3>
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-md-12">            
                    <label for="id_nome">{{ form.nome.label }}:</label>
                    {{ form.nome }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">            
                    <label for="id_autor">Autor:</label>
                    {{ form.autor }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">            
                    <label for="id_serie">Série:</label>
                    {{ form.serie }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">            
                    <label for="id_num_paginas">{{ form.num_paginas.label }}:</label>
                    {{ form.num_paginas }}
                </div>
                <div class="form-group col-md-4">            
                    <label for="id_inicio">{{ form.inicio.label }}:</label>
                    {{ form.inicio }}
                </div>
                <div class="form-group col-md-4">            
                    <label for="id_fim">{{ form.fim.label }}:</label>
                    {{ form.fim }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-2">            
                    <label for="id_nota">{{ form.nota.label }}:</label>
                    {{ form.nota }}
                </div>
               <!-- <div class="form-group col-md-2">            
                    <label for="id_ebook">{{ form.ebook.label }}:</label>
                    {{ form.ebook }}
                </div>-->
            </div>
            <div class="row">
                <div class="form-group col-md-12">            
                    <label for="id_obs">{{ form.obs.label }}:</label>
                    {{ form.obs }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="{% url 'livro:livro-list' %}" class="btn btn-default">Cancelar</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}